# Node.js
node_modules/


# .env files (Sensitive data)
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Mac specific files
*.swp
